RewriteEngine On

# Redirect "/about.html" to "/about"
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Serve "about.html" when "/about" is requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^about$ about.html [L]

# Redirect "/gallery.html" to "/gallery"
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Serve "about.html" when "/about" is requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^gallery$ gallery.html [L]

# Redirect "/" to "/quiz"
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /quiz [R=301,L]

# Redirect "/index.html" to "/quiz"
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ /quiz [R=301,L]

# Serve "index.html" when "/quiz" is requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^quiz$ index.html [L]
