<!DOCTYPE html>
<html lang="en">
<head>
  <style>.wf-force-outline-none[tabindex="-1"]:focus {
    outline: none;
  }</style>
  <meta charset="utf-8">
  <title>About</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="https://fonts.googleapis.com" rel="preconnect"><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700%7COpen+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CVollkorn:400,400italic,700,700italic" media="all">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
  <script type="text/javascript">
    !function (o, c) {
      const n = c.documentElement, t = " w-mod-";
      n.className += t + "js" + ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
    }(window, document);
  </script>

  <link href="StyleVis.css" rel="stylesheet" type="text/css">
  <link href="../.img/Logo/meta.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<div class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease"
     data-easing2="ease" role="banner">
  <div class="w-container">
    <h1 class="brand-text brand-link w-nav-brand w--current">
      <img src="../.img/Logo/logomotion_large.gif" alt="A GIF file" height="25%" width="25%">
    </h1>
    <nav class="navigation-menu w-nav-menu" role="navigation" style="transform: translateY(0px) translateX(0px);">
      <a aria-current="page" class="navigation-link w-nav-link" style="max-width: 940px;" href="../index.html">Quiz</a>
      <a class="navigation-link w-nav-link" style="max-width: 940px;" href="Gallery.html">Gallery</a>
      <a class="navigation-link w-nav-link w--current" style="max-width: 940px;" href="About.html" >About</a>
    </nav>
    <div aria-controls="w-nav-overlay-0" aria-expanded="false" aria-haspopup="menu" aria-label="menu"
         class="hamburger-button w-nav-button" role="button" style="-webkit-user-select: text;" tabindex="0">
      <div class="hamburger-icon"></div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" style="display: none;"></div>
</div>

<div class="w-container w-about-space">
  <h1 class="heading-4">
    about
  </h1>
  <div class="text-block-10">Where it started:</div>
  <div class="container-9 w-container">

    <p class="intro w-about-margin">
      This whole project started from a personal place. I had done the exercise of
      creating a visualisation of what my intrusive inner voice looked like to me
      and found it extremely helpful in order to be able to externalise it. I thought
      it would be extremely interesting to see what intrusive inner voices of other
      people looked like.
      <br>
      <br>
      That’s how my initial research question came to be: How do people visualise their
      intrusive inner voice?
      <br>
      <br>
      The research question would show a completely different way of viewing mental health
      and what people may be experiencing, it would display the variety of voices people
      may be experiencing, and it could potentially help others have a tool for externalisation.
      I also spent a lot of initial time figuring out the right terminology which was where I
      started using the term “intrusive inner voice.”
      <br>
      <br>
      My first iteration of the project was going to be conducting interviews and having
      individuals draw their own voices without any prompting.
    </p>
  </div>
  <div class="text-block-10">How it grew:</div>
  <div class="container-9 w-container">

    <p class="intro w-about-margin">
      I decided that primary research conducting these interviews would be both a dead
      end potentially, and it would only work for a small number of people to be interviewed
      because many people are not visual thinkers.
      <br>
      <br>
      My new goal was to create something that anyone could use in order to visualise their
      intrusive inner voice without needing to be a visual thinker and can therefore have this
      visualisation in order to potentially use it as an externalisation tool.
      <br>
      <br>
      This would require a quiz of some sort that would help build this voice.
    </p>
  </div>
  <div class="text-block-10">The building process:</div>
  <div class="container-9 w-container">

    <p class="intro w-about-margin">
      I got the help of Ethan Fifle, a student at York University, majoring in computer science,
      to help me build the quiz. The initial plan was just to embed it into a simple webflow page,
      but this grew into Ethan building the entire website; both frontend and backend.
      <br>
      <br>
      Each visual was designed through research and/or critique. The mouths and eyes for the faces
      were created through using AI and photoshopping them in order to avoid adding any of my own bias.
      These were essential in taking time on because I wanted to avoid any features that were too human.
      The goal was to avoid the final result looking like anybody the user would know.
      <br>
      <br>
      Finally, the gallery, poster, and film were done in order to document the variety of voices that
      have the potential to be heard by an individual. The film and poster are simply examples, but the
      gallery on this site is living documentation that was built by individuals who have taken this quiz.
    </p>
  </div>
</div>

<script src="Menu.js" type="text/javascript"></script>
<!-- START OF: menu Navigations in js (taken from the project clients webflow) !-->
<script crossorigin="anonymous"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=641f047c71c8e5761570dc5a"
        type="text/javascript"></script>
<script src="https://uploads-ssl.webflow.com/641f047c71c8e5761570dc5a/js/webflow.8dc601105.js"
        type="text/javascript"></script>
<!-- END OF: menu Navigations in js  !-->

</body>
</html>